
<div class="container">
<table>
  <thead>
  <tr>
    <th>Status</th>
    <th>Number of Requests</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>REQUESTED</td>
    <td>{{ dashboardData?.nReqToBeProcessed }}</td>
  </tr>
  <tr>
    <td>ON COLLECTION</td>
    <td>{{dashboardData?.nReqOnCollection}}</td>
  </tr>
  <tr>
    <td>SENT</td>
    <td>{{ dashboardData?.nReqSent }}</td>
  </tr>
  <tr>
    <td>RECEIVED</td>
    <td>{{ dashboardData?.nReceived }}</td>
  </tr>
  </tbody>
</table>
  <br>
  <br>

<div class="dropdown-container">
  <select class="dropdown" [(ngModel)]="selectedOption" (change)="doGraph(selectedOption)" >
    <option *ngFor="let option of daysOptions; let i = index" [ngValue]="i">Last {{option}} days</option>

  </select>
</div>
  <br>
  <br>

  <div>
  <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}"  (chartInstance)="getChartInstance($event)"></canvasjs-chart>
</div>
</div>
