<div class="container">
  <h1>Request Details</h1>

  <!-- List of products to be collected -->
  <section id="product-list">
    <h2>Products to be Collected</h2>
    <table>
      <thead>
      <tr>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>X Position</th>
        <th>Y Position</th>
        <th>Collected</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of request?.requestItems">
        <td>{{ product.product.description }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.product.xPos }}</td>
        <td>{{ product.product.yPos }}</td>

        <td [ngClass]="product.isCollected ? 'collected-yes' : 'collected-no'">
          {{ product.isCollected ? 'Yes' : 'No' }}
        </td>
        <td>
          <button (click)="collectItem(product)" [disabled]="product.isCollected">Collect</button>
        </td>
      </tr>
      </tbody>
    </table>
  </section>

  <!-- Status history and current status -->
  <section id="status">
    <h2>Status History and Current Status</h2>
    <table>
      <thead>
      <tr>
        <th>Status</th>
        <th>Start Date</th>
        <th>Duration</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let status of request?.requestHistoryItems">
        <td>{{ status.status }}</td>
        <td>{{ status.startDate | date:'yyyy/MM/dd HH:mm:ss' }}</td>
        <td>{{ status.durationMs }}</td>
      </tr>
      </tbody>
    </table>
    <p id="current-status">Current Status: <span>{{ request?.currentStatus }}</span></p>
    <button *ngIf="isToBeSent()" (click)="sendRequest()" [disabled]="!areAllProductsCollected()">Send</button>
  </section>
  <br>
  <br>
<section>
  <button *ngIf="!displayRoute" (click)="getRoute()">Get route for products</button>
  <table *ngIf="displayRoute">
    <thead>
    <tr>
      <th>Order</th>
      <th>X</th>
      <th>Y</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pos of route; let i = index">
      <td>{{ i + 1 }}º</td>
      <td>{{ pos.posX }}</td>
      <td>{{ pos.posY }}</td>
    </tr>
    </tbody>
  </table>
</section>
</div>
