/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
h1 {
  text-align: center;
  color: #333;
}
.order {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}
.order:hover {
  background-color: #eaeaea;
}
.order-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.order-details {
  margin-left: 5px;
  margin-right: 5px;

}


.product-list {
  list-style: none;
  padding: 0;
}
.product-list-item {
  margin-bottom: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #f2f2f2;
}
.start-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.start-button hover{
  background-color: #218838;
}

.confirm-button {
  background-color: #ef4f04;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.confirm-button hover{
  background-color: #ce7e3b;
}

.alert-warning{
  color: red;
}
